{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Register{% endblock %}

{% block body %}
    <div class="container form-control w-50 my-4">
        {#            {% if error %} #}
        {#                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
        {#            {% endif %} #}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            {{ form_start(registrationForm) }}
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
            {{ form_row(registrationForm.firstName, {
                label: 'Ваше имя',
                attr : { placeholder : 'Укажите имя...'}
            }) }}
            {{ form_row(registrationForm.email, {
                attr : { placeholder : 'Укажите почту...'}

            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Пароль',
                attr : { placeholder : 'Введите пароль...'}

            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Согласие с условиями',

            }) }}

            <button type="submit" class="btn btn-lg btn-primary mt-2">Вперед</button>
            {{ form_end(registrationForm) }}
        {% endif %}
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        #}
    </div>
{% endblock %}
