{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Quizzes {% endblock %}

{% block body %}
    <div class="row mb-2">
        {% for quiz in pagination %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">
                            <div class="text-dark" >{{ quiz.title }}</div>
                        </h3>
                        <div class="d-flex justify-content-between">
                            <div class="mb-1 text-muted">{{ quiz.updatedAt|timeAgo }}</div>
                            <div class="mb-1 text-black ">
                                <i class="bi bi-question-circle-fill"></i>
                                {{ quiz.question|length }}</div>
                        </div>
                    </div>
                    <div class="col-auto" style="display: contents">
                        <a href="#">
{#                            <img src="{{ (article.image ?? upload_asset('article_upload', article.image)) | imagine_filter('article_preview') }}" class="img-fluid"#}
{#                                 style="object-fit: cover" alt="{{ article.title }}">#}
                        </a>
                    </div>
                    <a class="btn btn-primary m-2 d-flex align-items-center justify-content-between" href="{{ path('app_quiz_show', {'quiz': quiz.id}) }}">
                        <div class="display-6">Начать</div><div class="display-5"><i class="bi bi-arrow-right"></i></div></a>

                </div>
            </div>
        {% else %}
            <div class="alert alert-dark" role="alert">
                Тестов нет! <a href="{{ path('app_home') }}" class="alert-link">На главную</a>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
