{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {{ quiz.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="form-control d-flex justify-content-between align-items-center gap-2">
            <div>
                {{ quiz.title }}
            </div>
            <div> {{ currentQuestion + 1 }}/{{ quiz.question|length }}
            </div>
            <div class="progress flex-grow-1" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ ((currentQuestion)/quiz.question|length)*100 }}%">{{ (((currentQuestion)/quiz.question|length)*100)|round(0, 'floor') }}%</div>
            </div>
        </div>
        <form class="form-control my-4" method="POST" action="{{ path('app_quiz_show', {'quiz': quiz.id}) }}"
              enctype="multipart/form-data" autocomplete="off">
            <p>{{ question.content }}</p>
            <div class="mb-3">
                {% if question.type.title == 'checkbox' %}
                    {% for variant in question.variant %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ variant }}"
                                   name="var_{{ loop.index - 1 }}" id="flexCheck_{{ loop.index }}">
                            <label class="form-check-label" for="flexCheck_{{ loop.index }}">
                                {{ variant }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if question.type.title == 'radio' %}
                    {% for variant in question.variant %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{ variant }}" name="var"
                                   id="flexCheck_{{ loop.index }}">
                            <label class="form-check-label" for="flexCheck_{{ loop.index }}">
                                {{ variant }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="text" name="question_id" value="{{ question.id }}" hidden>
            </div>
            <button type="submit" class="btn btn-primary">Ответить</button>
        </form>
    </div>
{% endblock %}
