{% extends 'emails/base.html.twig' %}
{% block title %} Зарегистрирована новая компания {{ company.title }} на портале {{ app_name }} {% endblock %}
{% block body %}
    <p>Здравствуйте, {{ user.profile.firstName?? 'Пользователь' }}!</p>
    <p>Зарегистрирована новая компания {{ company.title }}.
        Это письмо отправлено автоматически на указанную почту администратора портала {{ app_name }}.
    </p>
    <p class="button">
        <a class="text-no-decoration text-cornflowerblue" href="{{ companyViewPath }}">Посмотреть</a>
    </p>

{% endblock %}