<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a href="{{ path(path, {'id': entity.id}) }}"
       class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
       data-bs-title="{{ transcription }} - {{ entity.title ?? entity.firstName }}"
       data-bs-id="{{ entity.id }}"
       data-bs-entity={{ name }}

    ><i class="bi bi-trash3"></i></a>
</div>